[submodule "contrib/imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "contrib/ImGuiFileDialog"]
	path = contrib/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "contrib/embed"]
	path = contrib/embed
	url = https://github.com/batterycenter/embed
[submodule "contrib/glfw"]
	path = contrib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "contrib/stb"]
	path = contrib/stb
	url = https://github.com/nothings/stb.git
[submodule "contrib/lualzw"]
	path = contrib/lualzw
	url = https://github.com/Rochet2/lualzw.git
